.edu-au-vic-wa-nt-hand-menu-font {
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: "Ubuntu", sans-serif;
}

button {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
}

input {
  font-family: "Ubuntu", sans-serif;
}

#logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 40px;
}

#app {
}

#menu-container {
}

.menu-row {
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 4px;
  border-style: double;
  border-radius: 14px;
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-weight: bold;
}

.dish-name {
  margin-left: 60px;
  margin-right: 30px;
  width: 80px;
}

.price {
  margin-right: 5px;
}

.price-with-currency {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 45px;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 110px;
}

.edit-form {
  display: flex;
  flex-direction: row;
}

.new-dish-name-input {
  width: 200px;
  margin-left: 40px;
  margin-right: 20px;
  font-size: 20px;
}

.new-price-input {
  width: 55px;
  font-size: 20px;
}

#new-entry-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 30px;
  height: 35px;
}

.new-entry-send-button {
  margin-left: 20px;
}
