#logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
}

#menu-container {
}

.menu-row {
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}

.price-with-currency {
  display: flex;
  flex-direction: row;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.edit-form {
  display: flex;
  flex-direction: row;
}

.new-dish-name-input {
}
