#logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightpink;
}

#app {
  background-color: plum;
  height: 500px;
}


#menu-container {
  background-color: hotpink;
  height: 300px;
}

.menu-row {
  background-color: mediumslateblue;
  height: 40px;
}

